{
"parameters": {
	"mirror1_centerx": {
		"element": "centerx1",
		"path": ".//detector/mirror/[@centerx1]",		
		"default": 35.159,
		"units": "cm",
		"lower": "0.2",
		"upper": "0.6"
		},
	"mirror1_radius": {
		"element": "radius1",
		"path": ".//detector/mirror/[@radius1]",
		"default": "219.8",
		"units": "cm",
		"lower": "180.0",
		"upper": "260.0"
	},
	"mirror2_centerx": {
		"element": "centerx2",
		"path": ".//detector/mirror/[@centerx2]",		
		"default": 48.8695,
		"units": "cm",
		"lower": "0.2",
		"upper": "0.6"
		},
	"mirror2_radius": {
		"element": "radius2",
		"path": ".//detector/mirror/[@radius2]",
		"default": "219.8",
		"units": "cm",
		"lower": "180.0",
		"upper": "260.0"
	},
	"mirror3_centerx": {
		"element": "centerx2",
		"path": ".//detector/mirror/[@centerx2]",
		"default": 152.58,
		"units": "cm",
		"lower": "-0.4",
		"upper": "0.1"
		},
	"mirror3_radius": {
		"element": "radius2",
		"path": ".//detector/mirror/[@radius2]",
		"default": "219.8",
		"units": "cm",
		"lower": "180.0",
		"upper": "260.0"
	},
	"sensor_centerx": {
		"element": "centerx",
		"path": ".//detector/sensors/sphere/[@centerx]",
		"default": "183.4",
		"units": "cm",
		"lower": "155",
		"upper": "215"
	},
        "sensor_centerz": {
		"element": "centerz",
                "path": ".//detector/sensors/sphere/[@centerz]",
                "default": "5",
		"units": "cm",
		"lower": "0",
		"upper": "17"
        },
	"sensor_radius": {
                "element": "radius",
                "path": ".//detector/sensors/sphere/[@radius]",
		"default": "110.0",
		"units": "cm",
		"lower": "80.",
		"upper": "500."
	}
},
"constraints":{
	"sensor_constraint_1":{
		"parameters":["sensor_centerz", "sensor_radius"],
		"weights":[1,1],
		"bound": 255
	},
	"sensor_constraint_2":{
		"parameters":["sensor_centerz", "sensor_radius"],
		"weights":[-1,-1],
		"bound": -238
	}
}
}

